html, body{
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(255, 250, 240) !important;
}

#header{
  width: 100%;
  height: 85px;
  background: rgb(86, 61, 124);
}

#pageTitle{
  color: white;
  font-size: 62px;
  margin: 0;
  margin-left: 6%;
}

#subTitle{
  font-size: 35px;
}