html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title API Manager
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js", integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl", crossorigin="anonymous")
    script(src="./index.js")
  body
    div#addBtn
      div#addBtnText +
    div#header
      h1#pageTitle APIManager
    hr(style="margin: 0;")
    div#container
      div#apiListField
        h3#subTitle API List
        hr
        table.table#apiTable()
          thead.thead-dark
            tr
              th(width="30%") Path
              th(width="20%") Created
              th(width="20%") Update
              th(width="20%") Owner
              th(width="10%")
          tbody
            //- tr#apiTableRow
            //-   td#apiTableCellText admin/apimanager
            //-   td#apiTableCellText 2018/8/2/12:00
            //-   td#apiTableCellText 2018/8/13/1:00
            //-   td#apiTableCellText Prime
            //-   td
            //-     div.btn.btn-danger#apiTableCellBtn delete 
            //- tr#apiTableRow
            //-   td#apiTableCellText admin/apimanager
            //-   td#apiTableCellText 2018/8/2/12:00
            //-   td#apiTableCellText 2018/8/13/1:00
            //-   td#apiTableCellText Prime
            //-   td
            //-     div.btn.btn-danger#apiTableCellBtn delete